<div class="flex flex-col justify-center space-y-12">
  <h1 class="text-4xl font-bold">
    <span>Homepage</span>
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam
    recusandae, aut soluta sapiente in nesciunt! Aperiam, nam exercitationem
    repellendus distinctio ullam, ut obcaecati optio quibusdam quidem quas ad
    recusandae?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi omnis placeat
    soluta saepe laborum dolore quod ex at, nemo consequuntur iure mollitia
    cupiditate odit enim quasi, magni quos, cumque totam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa minima
    distinctio eveniet libero consectetur voluptatibus vero rem, earum fuga
    fugiat magnam maiores accusantium iste nisi ducimus consequuntur, modi qui
    deleniti!
  </p>
</div>
